.post--full-size
  %h2
    = post.title
    %small
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__comments
    Comments  
    = link_to "add comment", new_post_comment_path(post), class: 'post__button--comment'
    %ul 
    - comments.each do |comment|
      %li.comment--short-size
        .comment__body     
          = comment.body
        .comment__voting
          = Vote
          =link_to "Up", vote_up_post_comment_path(post, comment), :method => :post
          ="#{comment.votes.up.count}"
          = "/"
          =link_to "Down", vote_down_post_comment_path(post, comment), :method => :post
          ="#{comment.votes.down.count}"
          
        
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
